In [1]:
#1.

import pandas as pd

# Read a CSV file and create a DataFrame
df = pd.read_csv('data.csv')
print(df)

   Name  Age  Gender
0  John   25    Male
1  Jane   30  Female
2   Bob   40    Male

In [2]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael', 'Sophia', 'William'],
        'Age': [25, 28, 32, 27, 30],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Display the first 3 rows of the DataFrame
print(df.head(3))

      Name  Age      City
0     John   25  New York
1     Emma   28    London
2  Michael   32     Paris

In [3]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Display information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [4]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael'],
        'Age': [25, 28, 32],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Generate descriptive statistics
print(df.describe())

             Age
count   3.000000
mean   28.333333
std     3.511885
min    25.000000
25%    26.500000
50%    28.000000
75%    30.000000
max    32.000000

In [5]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Emma', 'Michael', 'Emma', 'John'],
        'Age': [25, 28, 32, 24, 27],
        'City': ['New York', 'London', 'Paris', 'London', 'New York']}
df = pd.DataFrame(data)

# Group data by 'Name' and calculate the mean age
grouped_data = df.groupby('Name')['Age'].mean()
print(grouped_data)

Name
Emma       26.0
John       26.0
Michael    32.0
Name: Age, dtype: float64

In [6]:
#2.

import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Index(range(1, len(df) * 2, 2))  # Generate the new index
    df = df.reset_index(drop=True)  # Reset the existing index
    df = df.set_index(new_index)  # Set the new index
    return df

# Example usage:
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Reindex the DataFrame
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [7]:
#3.

import pandas as pd

def calculate_sum(df):
    values_sum = sum(df['Values'].head(3))
    print("Sum of the first three values:", values_sum)

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate and print the sum of the first three values
calculate_sum(df)

Sum of the first three values: 60

In [8]:
#4.
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage:
data = {'Text': ['Hello, how are you?', 'I am doing great.', 'Python programming is fun!']}
df = pd.DataFrame(data)

# Add the 'Word_Count' column to the DataFrame
df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                         Text  Word_Count
0         Hello, how are you?           4
1           I am doing great.           4
2  Python programming is fun!           4

In [9]:
#5.

import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Get the size of the DataFrame
size = df.size
print(size)

6

In [10]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Get the shape of the DataFrame
shape = df.shape
print(shape)

(3, 2)

In [12]:
'''In this example, the DataFrame df has 3 rows and 2 columns. The df.shape attribute returns a tuple (3, 2) as the output, where the first value represents the number of rows and the second value represents the number of columns.

In summary, DataFrame.size provides the total number of elements in the DataFrame, while DataFrame.shape provides the dimensions (number of rows and columns) of the DataFrame as a tuple.'''

'In this example, the DataFrame df has 3 rows and 2 columns. The df.shape attribute returns a tuple (3, 2) as the output, where the first value represents the number of rows and the second value represents the number of columns.\n\nIn summary, DataFrame.size provides the total number of elements in the DataFrame, while DataFrame.shape provides the dimensions (number of rows and columns) of the DataFrame as a tuple.'

In [14]:
#6.

import pandas as pd

# Read an Excel file and create a DataFrame
df = pd.read_excel('flight_price.xlsx')
print(df)

           Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                  BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
10678              CCU → BLR    19:55         22:25   2h 30m    non-stop
10679              CCU → BLR    20:45         23:20   2h 35m    non-stop
10680              BLR → DEL    08:20         11:20       3h    non-stop
10681              BLR → DEL    11:30         14:10   2h 40m    non-stop
10682  DEL → GOI → BOM → COK    10:55         19:15   8h 20m     2 stops

      Additional_Info  Price
0             No info   3897
1             No info   7662
2             No info  13882
3             No info   6218
4             No info  13302
...               ...    ...
10678         No info   4107
10679         No info   4145
10680         No info   7229
10681         No info  12648
10682         No info  11753

[10683 rows x 11 columns]

In [15]:
#7.

import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str.get(0)
    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'emma.smith@example.com', 'michael.brown@example.com']}
df = pd.DataFrame(data)

# Extract the username and add the 'Username' column to the DataFrame
df_with_username = extract_username(df)
print(df_with_username)

                       Email       Username
0       john.doe@example.com       john.doe
1     emma.smith@example.com     emma.smith
2  michael.brown@example.com  michael.brown

In [17]:
#8.


import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select rows based on the conditions and create a new DataFrame
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [18]:
#9.

import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate the mean, median, and standard deviation
mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [19]:
#10.

import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage:
data = {'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55],
        'Date': pd.date_range('2022-01-01', periods=10)}
df = pd.DataFrame(data)

# Calculate the moving average and add the 'MovingAverage' column to the DataFrame
df_with_ma = calculate_moving_average(df)
print(df_with_ma)

   Sales       Date  MovingAverage
0     10 2022-01-01           10.0
1     15 2022-01-02           12.5
2     20 2022-01-03           15.0
3     25 2022-01-04           17.5
4     30 2022-01-05           20.0
5     35 2022-01-06           22.5
6     40 2022-01-07           25.0
7     45 2022-01-08           30.0
8     50 2022-01-09           35.0
9     55 2022-01-10           40.0

In [20]:
#11.

import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format

# Add the 'Weekday' column to the DataFrame
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [21]:
#12.

import pandas as pd

def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format

# Select rows between '2023-01-01' and '2023-01-31'
selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

In [25]:
#13.

'''The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. You can import it using the import statement in Python:'''

'The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. You can import it using the import statement in Python:'

In [24]:
import pandas as pd